@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
}

.progress-bar {
  background-color: var(--second-bg-color);
  height: 20px;
  margin-top: 20px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  background-color: var(--main-color);
  height: 100%;
  width: 0%;
  transition: width 0.3s ease-in-out;
}
