@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

:root.light {
  --bg-color: #f5f5f5;
  --second-bg-color: #e0e0e0;
  --text-color: #333;
  --main-color: #f90;
}

.hidden {
  display: none;
}

html {
  font-size: 62.5%;
}

#body {
  background-color: var(--bg-color);
  font-family: sans-serif;
  margin: 0 2rem;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  color: var(--main-color);
}

.container-img {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#a {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: none;
}

#a:hover {
  box-shadow: none;
}

@media (max-width: 440px) {
  h1 {
    margin-left: 1rem;
  }
  p {
    margin-left: 1rem;
  }
}
